{:source-paths
 ["cljs" "rum-native"]

 :dependencies
 [[rum "0.11.2"]
  [org.clojure/core.async "0.4.474"]]

 :builds
 {:app {:target     :npm-module
        :runtime    :react-native
        :entries    [darongmean.funan]
        :output-dir "js"}}}
