{:source-paths
 ["cljs" "rum-native"]

 :dependencies
 [[expound "0.7.1"]
  [org.clojure/core.async "0.4.474"]
  [org.clojure/test.check "0.9.0"]
  [org.roman01la/citrus "3.1.0"]
  [rum "0.11.2"]]

 :builds
 {:app {:target     :npm-module
        :runtime    :react-native
        :entries    [dev.hot-reload]
        :output-dir "js"}}}
